{% extends 'base.html' %}
{% load cache %}
{% block title %}{{ block.super }}{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>SQuaSH</h1>
        <p>A QC service developed by LSST DM/SQuaRE.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Purpose</h2>
            <p>SQuaSH provides a minimal infrastructure for
                monitoring the LSST verification metrics.

                It can be used and extended
                to preserve the code and knowledge developed during LSST construction.
            </p>
            <br>
            <h2>How to Use</h2>
            <p>
                Start by looking at the  <a href="http://sqr-019.lsst.io/"> LSST Verification Framework API demonstration</a> and check the existing features.
            </p>
            <p>
                <a class="btn btn-default"
                   href="/dash/monitor" role="button">
                    Go >>
                </a>
                <a class="btn btn-default"
                   href="http://sqr-009.lsst.io/en/latest/" role="button">
                    Learn more
                </a>
            </p>
            </p>
        </div>
        <div class="col-md-6">
            <h2>On this instace:</h2>

            <ul class="list-group">
                <li class="list-group-item">Last Verification Job:
                    <span class="badge">{{ latest_job_date }}</span> </li>
                <li class="list-group-item"># of verification packages:
                    <span class="badge">{{number_of_packages}}</span></li>
                      <li class="list-group-item"># of metrics monitored:
                    <span class="badge">{{number_of_metrics}}</span></li>
                <li class="list-group-item"># of measurements:
                    <span class="badge">{{number_of_measurements}}</span></li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <div class="container" >
        <hr>
        <p>&copy; Copyright {% now 'Y' %}, AURA/LSST</p>
    </div>
</footer>

{% endblock %}
