{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,
    maximum-scale=1.0, user-scalable=0">
    <title>LSST SQUASH</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet">

</head>
<body>
<!-- Collapsing navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>SQUASH</b></a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <!-- Make menu options visible for medium, small and extra small devices -->
            <ul class="nav navbar-nav navbar-center">
                <li><a href="/dash/{{ monitor_app }}"><i class="fa fa-area-chart">
                </i> Monitor</a></li>
            </ul>
            <!-- These menu items are always visible -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/lsst-sqre/squash-deployment"><i class="fa fa-github fa-lg"></i><b> GitHub</b></a></li>
                <li><a href="/api">RESTful API</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Layout for main content -->
    {% block content %}
    {% endblock %}
<!-- Keep at the end of the document so that pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
